<div class="home-container">
  <h2>Welcome to Nations Portal</h2>
  <p>Select a task from menu below:</p>
  <div class="menu-grid">
    <a routerLink="countries" class="menu-item">
      <h3>Task 1: Countries & Languages</h3>
      <p>View all countries and their spoken languages</p>
    </a>
<!--    <a routerLink="/country-stats" class="menu-item">-->
<!--      <h3>Task 2: Country Statistics</h3>-->
<!--      <p>Countries with maximum GDP per capital ratio</p>-->
<!--    </a>-->
<!--    <a routerLink="/country-details" class="menu-item">-->
<!--      <h3>Task 3: Country Details</h3>-->
<!--      <p>Detailed view with filtering options</p>-->
<!--    </a>-->
  </div>
</div>
